body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.stoper {
    text-align: center;
}

.czas {
    font-size: 3em;
    margin-bottom: 20px;
}

.przyciski button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}